<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<test name="login ">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="login" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="login with Wrong Creditanals  ">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="loginWithWrongCreditanals" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="searchVideo">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="searchVideo" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="watchvideo">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="watchvideo" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="subscription">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="subscription" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="checkurl">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="url" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Updateonprofile">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="url" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="clickonfooterbutton">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="clickonfooterbutton" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="withoutloginDetaiedpage">
		<classes>
			<class name="Selinium.AaryaDigital">
				<methods>
					<include name="withoutloginDetaiedpage" />
				</methods>
			</class>
		</classes>
	</test>



</suite>
